<div class="account_info">
    <div class="player" style="">
        <div class="brand">
            <div class="neon-blue" id="title" style="text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38;">Warez<span id="fade" style="text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38;">Play</span>
            </div>
        </div>
        <video id="trailer" autoplay width="800">
            <source id="mp4_src" src="" type="video/mp4"/>
        </video>
        <div class="pl_progress_bar">
            <div class="pl_total"></div>
            <div class="pl_done" style="transform: scaleX(0.00);"></div>
            <div class="pl_current"></div>
        </div>
        <div class="top-shadow shadow"></div>
        <div class="bottom-shadow shadow"></div>
    </div>
</div>
<div class="content">
    <div class="media_block">
        <h1 class="title">Filmes</h1>
        <div class="seen">
            <span class="mif-eye fg-lime"> Visto</span>
            <span class="mif-eye fg-crimson"> Por Ver</span>
            <span class="mif-eye fg-amber"> A Ver</span>
            <span class="title"></span>
        </div>
        <ul class="list">
            <li class="quality-hd" data-title="Divergent" data-seen="100"><img src="http://ia.media-imdb.com/images/M/MV5BMTYxMzYwODE4OV5BMl5BanBnXkFtZTgwNDE5MzE2MDE@._V1_SX300.jpg" /></li> 
            <li data-title="Insurgent" data-seen="50"><img src="http://ia.media-imdb.com/images/M/MV5BMTgxOTYxMTg3OF5BMl5BanBnXkFtZTgwMDgyMzA2NDE@._V1_SX300.jpg" /></li> 
            <li class="quality-hd" data-title="Interstellar" data-seen="100"><img src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" /></li> 
            <li data-title="Focus" data-seen="10"><img src="http://ia.media-imdb.com/images/M/MV5BMTUwODg2OTA4OF5BMl5BanBnXkFtZTgwOTE5MTE4MzE@._V1_SX300.jpg" /></li>
            <li data-title="Batman Begins" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" /></li> 
            <li data-title="The Amazing Spider Man" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMjMyOTM4MDMxNV5BMl5BanBnXkFtZTcwNjIyNzExOA@@._V1_SX300.jpg" /></li> 
            <li data-title="The Incredible Hulk" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMTUyNzk3MjA1OF5BMl5BanBnXkFtZTcwMTE1Njg2MQ@@._V1_SX300.jpg" /></li>
            <li data-title="Divergent" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMTYxMzYwODE4OV5BMl5BanBnXkFtZTgwNDE5MzE2MDE@._V1_SX300.jpg" /></li> 
            <li data-title="Insurgent" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMTgxOTYxMTg3OF5BMl5BanBnXkFtZTgwMDgyMzA2NDE@._V1_SX300.jpg" /></li> 
            <li data-title="Interstellar" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg" /></li> 
            <li data-title="Focus" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMTUwODg2OTA4OF5BMl5BanBnXkFtZTgwOTE5MTE4MzE@._V1_SX300.jpg" /></li>
            <li data-title="Batman Begins" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg" /></li> 
            <li data-title="The Amazing Spider Man" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMjMyOTM4MDMxNV5BMl5BanBnXkFtZTcwNjIyNzExOA@@._V1_SX300.jpg" /></li> 
            <li data-title="The Incredible Hulk" data-seen="0"><img src="http://ia.media-imdb.com/images/M/MV5BMTUyNzk3MjA1OF5BMl5BanBnXkFtZTcwMTE1Njg2MQ@@._V1_SX300.jpg" /></li>
        </ul>
    </div>
    <div class="media_block">
        <h1 class="title">Séries</h1>
        <ul class="list">
            <li><img src="http://ia.media-imdb.com/images/M/MV5BMTU5MTczNTkxNl5BMl5BanBnXkFtZTgwNTM5NDc1MTE@._V1_SX300.jpg" /></li> 
            <li><img src="http://ia.media-imdb.com/images/M/MV5BMjA4MjAxNTY1OV5BMl5BanBnXkFtZTcwNjk3MDIwNA@@._V1_SX300.jpg" /></li> 
            <li><img src="http://ia.media-imdb.com/images/M/MV5BMTc2NzMxODU0NV5BMl5BanBnXkFtZTgwMjYyNzk1MjE@._V1_SX300.jpg" /></li> 
            <li><img src="http://ia.media-imdb.com/images/M/MV5BNTgxOTI4NzY2M15BMl5BanBnXkFtZTgwMjY3MTM2NDE@._V1_SX300.jpg" /></li> 
        </ul>
    </div>
    <style>
        .top-shadow{
            bottom: 353px;
            box-shadow: inset 0 120px 90px -90px rgba(8,8,8,.8);
        }
        .bottom-shadow{
            bottom: 25px;
            box-shadow: inset 0 -120px 90px -90px rgba(8,8,8,.8);
        }
        .player:-webkit-full-screen .top-shadow{
            top: 0px;
        }
        .player:-webkit-full-screen .bottom-shadow{
            bottom: 0px;
        }
        .player:-webkit-full-screen .shadow{
            width: 100%;
            right: 0px;
        }
        .shadow{
            height: 120px;
            right: 152px;
            z-index: 20;
            width: 800px;
            position: absolute;
            -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
            -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
            transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
            pointer-events: none;
        }
        .brand{
            position: absolute;
            margin-left: 575px;
            margin-top: 10px;
            z-index: 40
        }
        .player:-webkit-full-screen .brand{
            position: absolute;
            top: 35px;
            right: 45px;
            z-index: 1000;
        }
        .player:-webkit-full-screen .brand #title{
            font-size: 50px;
        }
        .player:-webkit-full-screen{
            margin: 0;
            width: 100%;
            height: 100%;
            display: inline-block;
            position: inherit;
            top: 0px;
            left: 0px;
        }
        .player:-webkit-full-screen video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        .player:-webkit-full-screen .pl_progress_bar{
            position: absolute;
            left: 0;
            bottom: -12px;
            width: 100%;
        }
        .player{
            width: 50%;
            display: -webkit-box;
            position: relative;
            top: 150px;
            left: 60px;
        }
        .player .pl_progress_bar{
            position: relative;
            width: 800px;
            bottom: 7px;
            display: inline-block;
            z-index: 40
        }
        .player .pl_progress_bar .pl_done{
            background-color: #ECFFD5;
            box-shadow: 4px 3px 4px 1px rgba(0, 0, 0, 0.41), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38;
            width: 100%;
            height: 3px;
            border-radius: 5px;
            position: absolute;
            bottom: 12px;
            transform-origin: 0 0;
            transition: all 0.5s;
        }
        .player .pl_progress_bar .pl_total{
            background-color: white;
            width: 100%;
            height: 3px;
            position: absolute;
            border-radius: 5px;
            bottom: 12px;
        }
        .player .pl_progress_bar:hover .pl_current{
            display: block;
        }
        .player .pl_progress_bar .pl_current{
            display:none;
            border-radius: 6.5px;
            width: 13px;
            height: 13px;
            position: absolute;
            background-color: white;
            bottom: 7px;
            box-shadow: 4px 3px 4px 1px rgba(0, 0, 0, 0.41), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38;
            transition: all 0.5s;
        }
        .md-effect-12{
            opacity: 0;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
    </style>
    <div class="modal md-effect-12">
        <div class="modal_content">
            <div class="" style="display: inline-block;">
                <img src=""/>

                <div class="info">
                    <h5 class="name"><span class="year"> (2015)</span></h5>
                    <h5 class="type_info">
                        <span class="type">movie</span> | 
                        <span class="duration">119 min</span> | 
                        <span class="genre">Adventure, Sci-Fi, Thriller</span>
                    </h5>
                    <p class="plot">One choice can transform you-or it can destroy you. But every choice has consequences, and as unrest surges in the factions all around her, Tris Prior must continue trying to save those she loves--and herself--while grappling with haunting questions of grief and forgiveness, identity and loyalty, politics and love. Tris's initiation day should have been marked by celebration and victory with her chosen faction; instead, the day ended with unspeakable horrors. War now looms as conflict between the factions and their ideologies grows. And in times of war, sides must be chosen, secrets will emerge, and choices will become even more irrevocable--and even more powerful. Transformed by her own decisions but also by haunting grief and guilt, radical new discoveries, and shifting relationships. Tris must fully embrace her Divergence, even if she does not know what she may lose by doing so.
                    </p>
                    <h5 class="actors">
                        Actores 
                        <span class="name">Kate Winslet</span>
                        <span class="name">Jai Courtney</span>
                        <span class="name">Mekhi Phifer</span>
                        <span class="name">Shailene Woodley</span>
                    </h5>
                    <h5 class="imdb_rating">IMDB rating<span class="rating"> 6.9</span></h5>
                    <a id="play" style="text-decoration: none;color: white;display: inline-block;padding-top: 15px;">
                        <div class="neon-blue" id="title">
                            <span id="fade" class="mif-play"></span> Ver Trailer
                        </div>
                    </a>
                </div>
                <div class="progress_bar">
                    <div class="total"></div>
                    <div class="done"></div>
                    <div class="current"></div>
                </div>
            </div>
        </div>
    </div>



    <script>
        var vid = $('#trailer').get(0);

        $("#trailer").on('click', function(){
            if(vid.paused)
                vid.play();
            else
                vid.pause();
        });

        $("#trailer").dblclick(function(){
            if(!$(".player").get(0).fullscreen)
                $(".player").get(0).webkitRequestFullscreen();
        });

        $( ".pl_current" ).draggable({ 
            axis: 'x' ,            
            start: function() {
                $('.pl_progress_bar .pl_current').css('display','block');
                $('.pl_progress_bar .pl_done').css('transition','none');
                $('.pl_progress_bar .pl_current').css('transition','none');
                vid.pause();
            },
            drag: function() {
                $('.pl_progress_bar .pl_current').css('display','block');
                updateSeek();
            },
            stop: function() {
                $('.pl_progress_bar .pl_done').css('transition','all 0.5s');
                $('.pl_progress_bar .pl_current').css('transition','all 0.5s');
                updateCurrentTime();
            }
        });

        function updateSeek(){
            var dotPosLeft = parseInt($(".pl_progress_bar .pl_current").css('left'));
            $(".pl_progress_bar .pl_done").attr('style','transform:scaleX('+(dotPosLeft/800)+')');
        }

        function updateCurrentTime(){
            var percent = parseInt($(".pl_progress_bar .pl_current").css('left'))/800;

            vid.currentTime = vid.duration*percent;
            vid.play();
        }


        vid.ontimeupdate = function() {
            var total, current, progress;
            total = vid.duration;
            current = vid.currentTime;
            progress = current/total;
            $(".pl_progress_bar .pl_done").attr('style','transform:scaleX('+(progress)+')');
            $(".pl_progress_bar .pl_current").attr('style','left:'+progress*99+'%');
        };


        $('.modal').on('click',function(){
            $('.modal').css('opacity','0');
            $('.modal').css('visibility','hidden');
        //$('.modal').css('z-index','-1');
    });
        $('.account_info').on('hover',function(){
            $('.seen').attr('style','display:none');
        });
        $('ul.list li').on('hover',function(){
            $('.seen').attr('style','display:block');
            $('.seen span.mif-eye').attr('style','display:none');
            $('.seen span.title').text($(this).attr('data-title'));

            if($(this).attr('data-seen') == 0)
                $('.seen .fg-crimson').attr('style','display:block');
            else
                if($(this).attr('data-seen') == 100)
                    $('.seen .fg-lime').attr('style','display:block');
                else
                    $('.seen .fg-amber').attr('style','display:block');

            });
        $('ul.list li').on('click',function(){
    	//$('.modal').css('z-index','99');
        $('.modal').css('opacity','1');
        $('.modal').css('visibility','visible');
        $('.modal .modal_content img').attr('src',$(this).find('img').attr('src'));

        var title = $(this).attr('data-title');

        $('.modal_content .info .name').text("");
        $('.modal_content .info .name').append(movies[title].Title + "<span class='year'> ("+movies[title].Year+")</span>");
        $('.modal_content .info .type_info .type').text(movies[title].Type);
        $('.modal_content .info .type_info .duration').text(movies[title].Runtime);
        $('.modal_content .info .type_info .genre').text(movies[title].Genre);
        $('.modal_content .info .plot').text(movies[title].Plot);
        $('.modal_content .info .imdb_rating').text("IMDB rating");
        $('.modal_content .info .imdb_rating').append("<span class='rating'> "+movies[title].imdbRating+"</span>");

        $('.modal_content .info .actors').text("Atores ");
        $('.modal_content .info .actors').append('<span class="name">'+movies[title].Actors+'</span>');

        var done = ($(this).attr('data-seen')*300)/100;
        console.log(done);
        $('.progress_bar .done').css('width',done+'px');
        $('.progress_bar .current').text($(this).attr('data-seen')+'%');

        if($(this).attr('data-seen') < 15){
            $('.progress_bar .done').css('box-shadow',"4px 3px 4px 1px rgba(0, 0, 0, 0.41), 0 0px 15px #fff, 0 0 10px #a20025, 0 0 50px #a20025");
            $('.progress_bar .current').css('text-shadow',"2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #a20025, 0 0 50px #a20025");
        }
        else
            if($(this).attr('data-seen') < 95){
                $('.progress_bar .done').css('box-shadow',"4px 3px 4px 1px rgba(0, 0, 0, 0.41), 0 0px 15px #fff, 0 0 10px #f0a30a, 0 0 50px #f0a30a");
                $('.progress_bar .current').css('text-shadow',"2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #f0a30a, 0 0 50px #f0a30a");
            }
            else{
                $('.progress_bar .done').css('box-shadow',"4px 3px 4px 1px rgba(0, 0, 0, 0.41), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38");
                $('.progress_bar .current').css('text-shadow',"2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38");
            }

        $("#play").on("click", function(){
            $('#mp4_src').attr('src', movies[title]["url"]);
            $('#trailer').get(0).load();
            $('.modal').css('opacity','0');
            $('.modal').css('visibility','hidden');
            $("html, body").animate({ scrollTop: 0 }, 600);
        });
    });
    
    

var movies = {
    "Divergent":{"Title":"Divergent","Year":"2014","Rated":"PG-13","Released":"21 Mar 2014","Runtime":"139 min","Genre":"Adventure, Sci-Fi, Thriller","Director":"Neil Burger","Writer":"Veronica Roth (based on the novel by), Evan Daugherty (screenplay), Vanessa Taylor (screenplay)","Actors":"Shailene Woodley, Theo James, Ashley Judd, Jai Courtney","Plot":"Set in a futuristic dystopia where society is divided into five factions that each represent a different virtue, teenagers have to decide if they want to stay in their faction or switch to another - for the rest of their lives. Tris Prior makes a choice that surprises everyone. Then Tris and her fellow faction-members have to live through a highly competitive initiation process to live out the choice they have made. They must undergo extreme physical and intense psychological tests, that transform them all. But Tris has a secret that she is Divergent, which means she doesn't fit into any one group. If anyone knew, it would mean a certain death. As she discovers a growing conflict that threatens to unravel her seemingly peaceful society, this secret might help her save the people she loves... or it might destroy her.","Language":"English, Spanish","Country":"USA","Awards":"7 wins & 9 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMTYxMzYwODE4OV5BMl5BanBnXkFtZTgwNDE5MzE2MDE@._V1_SX300.jpg","Metascore":"48","imdbRating":"6.8","imdbVotes":"274,401","imdbID":"tt1840309","Type":"movie","Response":"True"},
    "Insurgent":{
        "Title":"Insurgent",
        "Year":"2015",
        "Released":"20 Mar 2015",
        "Runtime":"119 min",
        "Genre":"Adventure, Sci-Fi, Thriller",
        "Actors":"Kate Winslet, Jai Courtney, Mekhi Phifer, Shailene Woodley",
        "Plot":"One choice can transform you-or it can destroy you. But every choice has consequences, and as unrest surges in the factions all around her, Tris Prior must continue trying to save those she loves--and herself--while grappling with haunting questions of grief and forgiveness, identity and loyalty, politics and love. Tris's initiation day should have been marked by celebration and victory with her chosen faction; instead, the day ended with unspeakable horrors. War now looms as conflict between the factions and their ideologies grows. And in times of war, sides must be chosen, secrets will emerge, and choices will become even more irrevocable--and even more powerful. Transformed by her own decisions but also by haunting grief and guilt, radical new discoveries, and shifting relationships. Tris must fully embrace her Divergence, even if she does not know what she may lose by doing so.",
        "Poster":"http://ia.media-imdb.com/images/M/MV5BMTgxOTYxMTg3OF5BMl5BanBnXkFtZTgwMDgyMzA2NDE@._V1_SX300.jpg",
        "Metascore":"42",
        "imdbRating":"6.9",
        "imdbID":"tt2908446",
        "Type":"movie",
        "format":"mp4",
        "url":"http://az786600.vo.msecnd.net/Insurgent.2015.1080p.BluRay.x264.YIFY.mp4"
    },
    "Interstellar": {
        "Title":"Interstellar",
        "Year":"2014",
        "Released":"07 Nov 2014",
        "Runtime":"169 min",
        "Genre":"Adventure, Drama, Sci-Fi",
        "Actors":"Ellen Burstyn, Matthew McConaughey, Mackenzie Foy, John Lithgow",
        "Plot":"In the near future, Earth has been devastated by drought and famine, causing a scarcity in food and extreme changes in climate. When humanity is facing extinction, a mysterious rip in the space-time continuum is discovered, giving mankind the opportunity to widen its lifespan. A group of explorers must travel beyond our solar system in search of a planet that can sustain life. The crew of the Endurance are required to think bigger and go further than any human in history as they embark on an interstellar voyage into the unknown. Coop, the pilot of the Endurance, must decide between seeing his children again and the future of the human race.",
        "Poster":"http://ia.media-imdb.com/images/M/MV5BMjIxNTU4MzY4MF5BMl5BanBnXkFtZTgwMzM4ODI3MjE@._V1_SX300.jpg",
        "imdbRating":"8.7",
        "imdbID":"tt0816692",
        "Type":"movie",
        "format":"mp4",
        "url":"http://az786600.vo.msecnd.net/Interstellar.2014.2014.1080p.BluRay.x264.YIFY.mp4"
    },
    "Batman Begins": {"Title":"Batman Begins","Year":"2005","Rated":"PG-13","Released":"15 Jun 2005","Runtime":"140 min","Genre":"Action, Adventure","Director":"Christopher Nolan","Writer":"Bob Kane (characters), David S. Goyer (story), Christopher Nolan (screenplay), David S. Goyer (screenplay)","Actors":"Christian Bale, Michael Caine, Liam Neeson, Katie Holmes","Plot":"When his parents were killed, millionaire playboy Bruce Wayne relocates to Asia when he is mentored by Henri Ducard and Ra's Al Ghul in how to fight evil. When learning about the plan to wipe out evil in Gotham City by Ducard, Bruce prevents this plan from getting any further and heads back to his home. Back in his original surroundings, Bruce adopts the image of a bat to strike fear into the criminals and the corrupt as the icon known as 'Batman'. But it doesn't stay quiet for long.","Language":"English, Urdu, Mandarin","Country":"USA, UK","Awards":"Nominated for 1 Oscar. Another 19 wins & 48 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BNTM3OTc0MzM2OV5BMl5BanBnXkFtZTYwNzUwMTI3._V1_SX300.jpg","Metascore":"70","imdbRating":"8.3","imdbVotes":"834,753","imdbID":"tt0372784","Type":"movie","Response":"True"},
    "Focus": {"Title":"Focus","Year":"2015","Rated":"R","Released":"27 Feb 2015","Runtime":"105 min","Genre":"Comedy, Crime, Drama","Director":"Glenn Ficarra, John Requa","Writer":"Glenn Ficarra, John Requa","Actors":"Will Smith, Margot Robbie, Adrian Martinez, Gerald McRaney","Plot":"Nicky Spurgeon is an extremely accomplished con man who takes an amateur con artist, Jess, under his wing. Nicky and Jess become romantically involved, and with Nicky's profession of being a liar and a cheater for a living, he realizes that deception and love are things that don't go together. They split, only to see each other three years later... And things get messy.","Language":"English, Spanish","Country":"USA, Argentina","Awards":"N/A","Poster":"http://ia.media-imdb.com/images/M/MV5BMTUwODg2OTA4OF5BMl5BanBnXkFtZTgwOTE5MTE4MzE@._V1_SX300.jpg","Metascore":"56","imdbRating":"6.6","imdbVotes":"85,703","imdbID":"tt2381941","Type":"movie","Response":"True"},
    "The Amazing Spider Man": {"Title":"The Amazing Spider-Man","Year":"2012","Rated":"PG-13","Released":"03 Jul 2012","Runtime":"136 min","Genre":"Action, Adventure, Fantasy","Director":"Marc Webb","Writer":"James Vanderbilt (screenplay), Alvin Sargent (screenplay), Steve Kloves (screenplay), James Vanderbilt (story), Stan Lee (based on the Marvel comic book by), Steve Ditko (based on the Marvel comic book by)","Actors":"Andrew Garfield, Emma Stone, Rhys Ifans, Denis Leary","Plot":"Peter Parker (Garfield) is an outcast high schooler who was abandoned by his parents as a boy, leaving him to be raised by his Uncle Ben (Sheen) and Aunt May (Field). Like most teenagers, Peter is trying to figure out who he is and how he got to be the person he is today. Peter is also finding his way with his first high school crush, Gwen Stacy (Stone), and together, they struggle with love, commitment, and secrets. As Peter discovers a mysterious briefcase that belonged to his father, he begins a quest to understand his parents' disappearance - leading him directly to Oscorp and the lab of Dr. Curt Connors (Ifans), his father's former partner. As Spider-Man is set on a collision course with Connors' alter-ego, The Lizard, Peter will make life-altering choices to use his powers and shape his destiny to become a hero.","Language":"English","Country":"USA","Awards":"4 wins & 29 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMjMyOTM4MDMxNV5BMl5BanBnXkFtZTcwNjIyNzExOA@@._V1_SX300.jpg","Metascore":"66","imdbRating":"7.1","imdbVotes":"396,520","imdbID":"tt0948470","Type":"movie","Response":"True"},
    "The Incredible Hulk": {"Title":"The Incredible Hulk","Year":"2008","Rated":"PG-13","Released":"13 Jun 2008","Runtime":"112 min","Genre":"Action, Adventure, Sci-Fi","Director":"Louis Leterrier","Writer":"Zak Penn (screenplay), Zak Penn (screen story)","Actors":"Edward Norton, Liv Tyler, Tim Roth, William Hurt","Plot":"Depicting the events after the Gamma Bomb. 'The Incredible Hulk' tells the story of Dr Bruce Banner, who seeks a cure to his unique condition, which causes him to turn into a giant green monster under emotional stress. Whilst on the run from military which seeks his capture, Banner comes close to a cure. But all is lost when a new creature emerges; The Abomination.","Language":"English, Portuguese, Spanish","Country":"USA","Awards":"1 win & 5 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMTUyNzk3MjA1OF5BMl5BanBnXkFtZTcwMTE1Njg2MQ@@._V1_SX300.jpg","Metascore":"61","imdbRating":"6.9","imdbVotes":"295,716","imdbID":"tt0800080","Type":"movie","Response":"True"}
};
</script>
