<!DOCTYPE html>
<html>
<head>
  <title>WarezPlay</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link href="/styles/metro-icons.css" rel="stylesheet">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/metro-icons.css">
  <!--STYLES END-->
</head>

<body>
  <div class="nav-bar">
    <div class="nav-bar-title" style="display: inline-block;margin: 15px 0px 30px 15px;">
      <div class="container">
        <div class="sign">
          <div class="neon-blue" id="title">Warez<span id="fade">Play</span>
            <span class="neon-purple" id="trav" style="right: 45px;top: 25px;position: relative;font-size: 25px;">Alpha</span>
          </div>
        </div>
      </div>
    </div>
    <ul class="menu" style="display: inline-block;list-style: none;">
      <li><a class="neon-blue">Filmes</a></li>
      <li><a class="neon-blue">Séries</a></li>
      <li><a class="neon-blue">Watch_List</a></li>
      <li><a class="neon-blue">Agenda</a></li>
    </ul>
    <!--div style="display: inline-block;font-size: 25px;float: right;margin: 35px;">
        <a class="neon-blue" style="padding: 0 35px;">Account</a>
        <a class="neon-blue">Log Out</a>
      </div-->
  </div>

  <%- body %>

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
