.top_bar{
	width: 100%;
 box-shadow: 6px 6px 6px 0px rgb(19, 19, 19);
 background-color: rgba(0,0,0,0.5);
 display: inline-block;
 color: white;
}
.top_bar h1{
	padding: 0px;
	text-align: center;
	width: 100%;
}

.content{
	padding: 0 10%;
 	background-image: url("../images/background.jpg");
 	box-shadow: 0px 0px 12px 3px black;
 	position: absolute;
  top: 900px;
}
.modal{
	opacity:0;
	display: block;
	position: fixed;
 	width: 100%;
 	height: 200%;
 	top: 1px;
 	left: 0px;
 	background-color: rgba(0,0,0,0.9);
    z-index: 1;
    visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.modal_content{
	margin: 170px auto;
 width: 70%;
 display: -webkit-box;
}
.modal_content img{
  display: inline-block;
  float: left;
}
.modal_content .info{
	padding: 25px;
	width: 70%;
  display: inline-block;
  float: left;
}

.modal_content .info > .name{
	font-size: 35px;
 font-weight: 100;
 text-shadow: 0 0 6px rgba(255,255,255,0.7);
}
.modal_content .info .name span.year{
  color: gray;
  font-size: 16px;
  text-shadow: 0 0 6px rgba(255,255,255,0.7);
}

.modal_content .info .type_info{
	padding: 15px 0px;
 text-shadow: 0 0 6px rgba(255,255,255,0.7);
 font-size: 20px;
 font-weight: 100;
}
.modal_content .info .type_info span{
	font-size: 15px;
 font-weight: 100;
 color: white;
 text-shadow: none;
}

.modal_content .info p.plot{
 text-align: justify;
}

.modal_content .info .actors{
	padding: 15px 0px;
 font-size: 25px;
 font-weight: 100;
 text-shadow: 1px 1px 8px rgba(255,255,255, 0.7);
}
.modal_content .info .actors .name{
	font-weight: 100;
 font-size: 16px;
 text-shadow: 1px 1px 2px rgba(168, 141, 3, 0.7);
 padding: 0px 10px;
}

.modal_content .info .imdb_rating{
	color: rgb(189, 151, 0);
 font-size: 28px;
 font-weight: 100;
 text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

.modal_content .info .imdb_rating .rating{
	font-size: 50px;
}

.media_block{
	color:white;
	display: inline-block;
}
.list{
	padding: 0;
	display: inline-block;
}

.list li{
	display: inline-block;
	list-style: none;
	padding: 5px 5px;
}

.list li.quality-hd:before{
	border: 1px solid black;
    box-shadow: 1px 2px 4px 2px black;
    border-radius: 4px;
    width: 22px;
    content: "HD";
    background-color: rgba(255,255,255,0.8);
    color: black;
    padding: 5px;
    position: relative;
    display: flex;
    font-weight: bold;
    top: 315px;
    left: 170px;
}

.list li img{
	width: 200px;
 height: 310px;
 box-shadow: 6px 6px 6px 0px rgb(19, 19, 19);
 -webkit-border-radius: 4px;
}

.seen{
    display: none;
    max-width: 135px;
    width: 183px;
    position: fixed;
    top: 125px;
    left: 0px;
    background-image: url("/images/background.jpg");
    padding: 10px 25px 10px 25px;
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 0px 9px 9px 0px;
}

.seen .mif-eye{
    display: none;
    padding: 7px 0;
    font-weight: 600;
}

.nav-bar{
	display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 12px 3px black;
    position: fixed;
    background-image: url("../images/background.jpg");
    z-index: 99;
}

.nav-bar .menu li{
	display: inline-block;
    padding: 0 35px;
    font-size: 22px;
}

.account_info{
	background-image: url("../images/cinema.jpg");
	background-repeat: round; 
	width: 100%;
	height:1000px;
	z-index: -1;
    position: fixed;
}

h1.title{
	font-weight: 100;
 font-size: 2.6em;
 margin: 40px 0;
 float: left;
 width: 100%;
 text-shadow: 0 0 6px rgba(255,255,255,0.7);

}

.progress_bar{
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.progress_bar .done{
    background-color: #F4FFEB;
    box-shadow: 4px 3px 4px 1px rgba(0, 0, 0, 0.41), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38;
    width: 50px;
    height: 3px;
    border-radius: 5px;
    position: relative;
    bottom: 3px;
}

.progress_bar .total{
    background-color: white;
    width: 300px;
    height: 3px;
    position: relative;
    border-radius: 5px;
}

.progress_bar .current{
    text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #A7FF38, 0 0 50px #A7FF38;
    font-weight: 600;
}

h1{
	font-weight: 100;
 font-size: 2.6em;
 float: left;
 text-shadow: 0 0 6px rgba(255,255,255,0.7);

}

body{
	font-family: 'Roboto',sans-serif;
	color: white;
	font-weight: 100;
	background-image: url("../images/background.jpg");
}
*{
	margin:0;
	padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  	font-size: 50px;
}
.sign {
  -ms-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
#title {
  font-size: 45px;
}
#trav {
  -webkit-animation: blink 0.01s infinite alternate;
  -moz-animation: blink 0.01s infinite alternate;
  -o-animation: blink 0.01s infinite alternate;
  animation: blink 0.01s infinite alternate;
}
#fade {
  opacity: 0.8;
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  -webkit-animation: fade 3s infinite alternate;
  -moz-animation: fade 3s infinite alternate;
  -o-animation: fade 3s infinite alternate;
  animation: fade 3s infinite alternate;
}
.neon-blue {
  margin: 0 auto;
  text-align: center;
  color: #ebffff;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.3), 0 0px 15px #fff, 0 0 10px #38eeff, 0 0 50px #38eeff;
  font-family: 'Roboto',sans-serif;
}
.neon-purple {
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  color: #ccf;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.5), 0 0 20px #fff, 0 0 10px #7d26cd, 0 0 50px #7d26cd;
  font-family: 'Roboto',sans-serif;
}
@-moz-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-webkit-keyframes blink {
  45% {
    opacity: 0.5;
  }
}
@-o-keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@keyframes blink {
  70% {
    opacity: 0.7;
  }
}
@-moz-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-webkit-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@-o-keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}
@keyframes fade {
  40% {
    opacity: 0.8;
  }
  42% {
    opacity: 0.1;
  }
  43% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.1;
  }
  46% {
    opacity: 0.8;
  }
}



